* {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: 'courier new', courier, sans-serif;
	font-weight: 500;
	color: #555;
	background-color: #F0F8FF;
}

h1, h2, h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 36px;
	line-height: 1.2;
}
h2 {
	font-size: 21px;
	line-height: 1.2;
}
p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #2ec371;
}

blockquote {
	font-size: 21px;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-size: 13px;
	font-weight: 400;
	line-height: 18.5714302062988px;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
}

/*Header Styling*/
header #titles h2{
	float: left;
	padding-top: 10px;
}

header #titles ul{
	float: right;
}

header #titles ul li{
	display: inline-block;
	vertical-align: top;
}

header #titles ul li a{
	display: block;
	list-style: none;
	padding:15px;
	}

header #titles ul li:hover{ 
	background-color: #00FFFF;
}

header #titles ul li #link1:hover{
	border-bottom: 2px solid #4B0082;
}
header #titles ul li #link2:hover{
	border-bottom: 2px solid #0000FF;
}
header #titles ul li #link3:hover{
	border-bottom: 2px solid #FF00FF;
}
header #titles ul li #link4:hover{
	border-bottom: 2px solid #228B22;
}

/* Top Section Styling */

#top {
  text-align: center;
  background-color: #cbd0d2;
  padding-top: 100px;
  padding-bottom: 100px;
  background: url('../images/exia.jpg') no-repeat center center;
  background-size: cover;
}

#top h1 {
	color: #2ec371;
	font-weight: 800;
}

#top h2 {
	color: #cecece;
	font-weight: 200;
}

/* Middle Section */

#ryan-image{
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

#middle p{
	font-size: 20px;
	font-weight: 500;
}

#middle span{
	color: #0000FF;
}

/* Bottom Section */

#bottom {
	background-color: #f9f9f9;
	text-align: center;
	overflow: hidden;
	height: 100px;
}

#bottom:hover{
	height: auto;
}

#bottom h2 {
	text-align: center;
    font-weight: 600;
    font-size: 32px;
}

#bottom h3 {
  	font-size: 24px;
  	margin-top: 20px;
  	margin-bottom: 25px;
}

#bottom .row{
	margin-top: 30px;
}

#bottom img {
  	max-height: 150px;
  	border-radius: 10px;
}

.one-half {
 	 background-color: #fefefe;
  	/* border: 1px solid #ccc; */
  	width: 30%;
  	float: left;
  	padding: 30px 20px;
  	margin: 1%;
  	border: 1px solid #ececec;
  	height: 300px;
}

#bottom .one-half:hover{
	background-color: #FFFFCC;
}

#bottom a{
	border-radius: 2px;
	color: #fff;
	padding: 10px;
	background-color: #428bca;
	border-color: #357ebd;
}

#bottom a:hover{
	background-color: #357ebd;
}

/* Universal */

.container {
	width: 970px;
	margin: 0 auto;
	height: auto;
}

.skinny {
	font-weight: 100;
	color: #003300;
}

/* clearfix */
.row:before,
.row:after,
#titles:before,
#titles:after {
   	 content: "";
     display: table;
} 
.row:after, #titles:after {
     clear: both;
}
.row, #titles{
     zoom: 1; /* For IE 6/7 (trigger hasLayout) */
} 